<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consumindo API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Cadastrar Times</h3>
  <ion-input placeholder="Time" type="text" [(ngModel)]="time.clube"></ion-input>
  <ion-input placeholder="Cidade" type="text" [(ngModel)]="time.cidade"></ion-input>
  <ion-button size="full" (click)="salvar()">Salvar</ion-button>

  <h3>Lista de Times</h3>
  <ion-list *ngFor="let time of times">
    <ion-item-sliding>
      <ion-item><b>{{time.clube}}</b> - {{time.cidade}}</ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="excluir(time)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success" (click)="editar(time)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>